doctype(html)
html(lang ="es")
	title("Página 3")
body
	h1 Arturo Barbosa Ramos :D
	p 
		Esta es una nueva manera de escribir una pagina web, es un poco diferente a la construccion de las paginas web tradicionales

		
